CSV_FILE_PATH=data/raw/games.csv

DB_HOST=localhost
DB_PORT=5432
DB_NAME=steam_games
DB_USER=postgres
DB_PASSWORD=<пароль от postgres>
TABLE_NAME=games

LOG_LEVEL=INFO
LOG_FILE=logs/etl.log

SPARK_APP_NAME=SteamGamesETL
SPARK_MASTER=local[*]