# Путь к CSV-файлу
CSV_FILE_PATH=data/raw/steam_games.csv

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=steam_games
DB_USER=postgres
DB_PASSWORD=
TABLE_NAME=games

# Логирование
LOG_LEVEL=INFO
LOG_FILE=logs/etl.log
